/* custom css */

body {
    padding-top: 89px;
    background-color: #E8E0F4;
}

p {
    color: #9772A9;
}


/* Overrding Bootstrap Navigation Tab */

.navbar-default.navbar-fixed-top.centered>li,
.nav-pills.centered>li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.navbar-default.navbar-fixed-top.centered,
.nav-pills.centered {
    text-align: center;
}

#add-playlist-button {
    padding: 15px;
    width: 94%;
}

#nav-body {
    background: #F9F9F9;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
}

#nav-fixed-pos {
    background: #F9F9F9;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
}

#page-body {
    background-color: #E8E0F4;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
}

.list-item {
    position: relative;
}

li.list-item {
    border-bottom: 2px solid #bbb;
}

.playlist-title {
    vertical-align: middle;
    text-align: left;
    color: #9772A9;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}

img.alb-cover {
    width: 20%;
    height: 80%;
    vertical-align: middle;
    display: inline-block;
    padding-right: 5%;
    border-radius: 3px;
    padding-bottom: 2%;
    padding-top: 2%;
}

.playlist-select {
    display: inline-block;
    position: absolute;
    top: 43%;
    right: 4%;
}


/* Glyphicon Size */

.glyphicon {
    font-size: 40px;
    color: #9772A9;
}

.glyphicon.glyphicon-chevron-right {
    font-size: 30px;
    color: #696969;
}

.glyphicon.glyphicon-plus {
    font-size: 18px;
    color: white;
}

li.list-item:active {
    background-color: #8A2BE2;
}

@media only screen and (max-width: 450px) {
    .list-item {
        position: relative;
    }
    li.list-item {
        border-bottom: 2px solid #bbb;
        padding-right: 5%;
        padding-left: 5%;
    }
    .playlist-title {
        vertical-align: middle;
        text-align: left;
        color: #9772A9;
        font-weight: bold;
        display: inline-block;
        font-size: 12px;
    }
    img.alb-cover {
        width: 20%;
        height: 80%;
        vertical-align: middle;
        display: inline-block;
        padding-right: 5%;
        border-radius: 3px;
        padding-bottom: 2%;
        padding-top: 2%;
    }
    .playlist-select {
        display: inline-block;
        position: absolute;
        top: 33%;
        right: 5%;
    }
    /* Glyphicon Size */
    .glyphicon {
        font-size: 25px;
        color: #9772A9;
    }
    .glyphicon.glyphicon-chevron-right {
        font-size: 20px;
        color: #696969;
    }
    .glyphicon.glyphicon-plus {
        font-size: 11px;
        color: white;
    }
    #add-playlist-button {
        padding: 12px;
    }
}